<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container" >
      <div class="row">

        <!-- loop over the collection of products -->
        <div *ngFor="let tempProduct of  products" class="col-md-3">
<
          <div class="product-box">
            <img src="{{ tempProduct.imageUrl }}" class="img-responsive" width="100px" height="100px">
            <h6>{{ tempProduct.name }}</h6>
            <div class="price">{{ tempProduct.unitPrice | currency:'INR'}}</div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
